@using MetaFrm.Control
@using MetaFrm.Maui.Devices
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
@inherits BaseComponent

<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" @onclick="() => this.OnMenuHomeClick()" href="#">
            @if (!this.LogoImageUrl.IsNullOrEmpty() && this.LogoImageSize != null)
            {
                <img src="@this.LogoImageUrl" data-toggle="tooltip" title="@this.LogoText" width="@this.LogoImageSize.Value.Width" height="@this.LogoImageSize.Value.Height" />
            }
            else
            {
                @this.LogoText
            }
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation" @onclick="this.ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="@(this.NavMenuViewModel.CollapseNavMenu?this.NavMenuViewModel.Collapse:this.NavMenuViewModel.NotCollapse) navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                @foreach (ViewModels.MenuItem parentMenuItem in this.NavMenuViewModel.MenuItems)
                {
                    if (parentMenuItem.AssemblyID == null || parentMenuItem.AssemblyID == 0 && parentMenuItem.Child.Count > 0)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" data-toggle="tooltip" title="@parentMenuItem.Description">@parentMenuItem.Name</a>
                            <div class="dropdown-menu">
                                @foreach (ViewModels.MenuItem menuItem in parentMenuItem.Child)
                                {
                                    @if (Uri.IsWellFormedUriString(parentMenuItem.Description, UriKind.Absolute))
                                    {
                                        @if (Factory.Platform == DevicePlatform.Web || Factory.Platform == DevicePlatform.WinForms || Factory.Platform == DevicePlatform.WPF)
                                        {
                                            <a class="dropdown-item" href="@menuItem.Description" target="_blank" data-toggle="tooltip" title="@menuItem.Description">&nbsp;&nbsp;@menuItem.Name</a>
                                        }
                                        else
                                        {
                                            <a class="dropdown-item" @onclick="() => this.OnMenuClick(menuItem.Description)" href="#" data-toggle="tooltip" title="@menuItem.Description">&nbsp;&nbsp;@menuItem.Name</a>
                                        }
                                    }
                                    else
                                    {
                                        <a class="dropdown-item" @onclick="() => this.OnMenuClick(menuItem.MenuID, menuItem.AssemblyID)" href="#" data-toggle="tooltip" title="@menuItem.Description">&nbsp;&nbsp;@menuItem.Name</a>
                                    }
                                }
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            @if (Uri.IsWellFormedUriString(parentMenuItem.Description, UriKind.Absolute))
                            {
                                @if (Factory.Platform == DevicePlatform.Web || Factory.Platform == DevicePlatform.WinForms || Factory.Platform == DevicePlatform.WPF)
                                {
                                    <a class="nav-link" href="@parentMenuItem.Description" target="_blank" data-toggle="tooltip" title="@parentMenuItem.Description">@parentMenuItem.Name</a>
                                }
                                else
                                {
                                    <a class="nav-link" @onclick="() => this.OnMenuClick(parentMenuItem.Description)" href="#" data-toggle="tooltip" title="@parentMenuItem.Description">@parentMenuItem.Name</a>
                                }
                            }
                            else
                            {
                                <a class="nav-link" @onclick="() => this.OnMenuClick(parentMenuItem.MenuID, parentMenuItem.AssemblyID)" href="#" data-toggle="tooltip" title="@parentMenuItem.Description">@parentMenuItem.Name</a>
                            }
                        </li>
                    }
                }
                <li class="nav-item">
                    <hr class="hr-s1" />
                </li>
            </ul>
            <ul class="navbar-nav">
                <AuthorizeView>
                    <Authorized>
                        <li class="nav-item me-2">
                            <a class="nav-link" href="#" data-toggle="tooltip" title="@this.DisplayName" @onclick="this.OnProfileClick">
                                @if (!this.ProfileImage.IsNullOrEmpty())
                                {
                                    <img class="rounded-pill me-2" alt="Profile" width="30" height="30" src="@this.ProfileImage" />
                                }
                                @this.DisplayName
                            </a>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="btn btn-secondary py-1 my-1" @onclick="this.OnLogoutClick"><i class="bi bi-box-arrow-right" /> Sign out</button>
                        </li>
                    </Authorized>
                    <NotAuthorized>
                        <li class="nav-item me-2">
                            <button type="button" class="btn btn-secondary py-1 my-1" @onclick="this.OnLoginClick"><i class="bi bi-box-arrow-in-left" /> Sign in</button>
                        </li>
                        <li class="nav-item me-2">
                            <button type="button" class="btn btn-secondary py-1 my-1" @onclick="this.OnRegisterClick">Register</button>
                        </li>
                        <li class="nav-item me-2">
                            <button type="button" class="btn btn-secondary py-1 my-1" @onclick="this.OnPasswordResetClick">Password Reset</button>
                        </li>
                    </NotAuthorized>
                </AuthorizeView>
            </ul>
        </div>
    </div>
</nav>